.hotop {
  background: url(./img/basics/hot_music_bg_2x.jpg) no-repeat;
  background-size: contain;
  padding-top: 38.9%;
  position: relative;
}

.hotopct{
  position: absolute;
  display: flex;
  padding-left: 3vw;
  flex-direction: column;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
div.hotop::after{
  content:  " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.2);
  z-index: 2;
}

.hotmusic-inner {
  z-index: 20;
  position: absolute;
  background: url(//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880) no-repeat;
  width: 37.67vw;
  height: 17.87vw;
  background-position: -6vw -8vw;
  background-size: 44.27vw 25.87vw;
}

.hotList>li>a {
  display: flex;
}

.hotList .num {
  font-size: 4.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
}

.sgfr {
  margin-top: 2vw;
  margin-left: 1vw;
}



.sgfr>h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  width: 85vw;
}

.sgfr>p {
  line-height: 1.5;
  margin: 1vw 0;
  font-size: 3.2vw;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  width: 85vw;
}

div.f-bd::after {
  content: ' ';
  left: 0;
  top: 0;
  z-index: 20;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.sgfl-cred {
  color: #df3436;
}
